<app-header></app-header>

<app-side-nav></app-side-nav>


<div class="bs-example" style="margin-top:10px; margin-left:200px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <h4 class="panel-title"></h4></a> -->
                <button class="btn btn-primary"  type="button" #btn (click)="show(1)">
                        Add Member
                </button>                
            </div>

            <!-- <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body"> -->
            <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >
                <div [class.collapse]='flag != 1'>
                    <div class="card card-body">
                        <div class="container register">
                            <div class="row register-form" style="margin-top:0px; margin-left:-20px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="cbname" class="form-control" style="width: 350px" id="cbname" placeholder="CB Member Name :*" [ngClass]="{ 'is-invalid': submitted && f.cbname.errors }" />
                                        <div *ngIf="submitted && f.cbname.errors" class="invalid-feedback">
                                                <div *ngIf="f.cbname.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="group" class="form-control" style="width: 350px" placeholder="Select Group :*" [ngClass]="{ 'is-invalid': submitted && f.group.errors }" />
                                        <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                                                <div *ngIf="f.group.errors.required">Group is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="mdate" class="form-control" style="width: 350px" placeholder="Memeber Date :*" [ngClass]="{ 'is-invalid': submitted && f.mdate.errors }"/>
                                        <div *ngIf="submitted && f.mdate.errors" class="invalid-feedback">
                                                <div *ngIf="f.mdate.errors.required">Mmeber Date is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="aname" class="form-control" style="width: 350px" placeholder="Name (Aadhar Card) :*" [ngClass]="{ 'is-invalid': submitted && f.aname.errors }"/>
                                        <div *ngIf="submitted && f.aname.errors" class="invalid-feedback">
                                                <div *ngIf="f.aname.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> Gender :*  
                                                <input type="radio" formControlName="gender" name="gender" value="male" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                <span style="margin-left:15px"> Male </span>

                                                <input type="radio" formControlName="gender" name="gender" value="female" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                <span style="margin-left:30px">Female </span>  

                                                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                                                </div>                                           
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> Marital Status
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="married" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:15px">Married</span>
                                                
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="unmarried" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:30px">Unmarried</span>
                                                
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="widow" style="margin-left:30px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:45px">Widow</span>

                                                <input type="radio" formControlName="mstatus" name="mstatus" value="divorcee" style="margin-left:45px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:60px">Divorcee</span>
                                                <div *ngIf="submitted && f.mstatus.errors" class="invalid-feedback">
                                                        <div *ngIf="f.mstatus.errors.required">Marital Status is required</div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="alname" class="form-control" style="width: 300px;margin-top:40px" placeholder="Alias Name :*" [ngClass]="{ 'is-invalid': submitted && f.alname.errors }"/>
                                        <div *ngIf="submitted && f.alname.errors" class="invalid-feedback">
                                                <div *ngIf="f.alname.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" formControlName="mnumber" minlength="10" maxlength="10" name="mnumber" class="form-control" style="width: 300px;margin-top:40px" placeholder="Mobile Number :*" [ngClass]="{ 'is-invalid': submitted && f.mnumber.errors }"/>
                                        <div *ngIf="submitted && f.mnumber.errors" class="invalid-feedback">
                                                <div *ngIf="f.mnumber.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                

                                    <button type="submit" class="btn btn-dark" style="color:white; margin-top: 25px; margin-left: 100px; background-color: black">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" type="button" #btn (click)="show(2)">
                    KYC Details
                </button>
            </div>
            <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >
                <div [class.collapse]='flag != 2'>
                    <div class="card card-body">
                        <div class="container register">
                            <div class="row register-form" style="margin-top:0px; margin-left:-20px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="cbname" class="form-control" style="width: 350px" id="cbname" placeholder="CB Member Name :*" [ngClass]="{ 'is-invalid': submitted && f.cbname.errors }" />
                                        <div *ngIf="submitted && f.cbname.errors" class="invalid-feedback">
                                                <div *ngIf="f.cbname.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="group" class="form-control" style="width: 350px" placeholder="Select Group :*" [ngClass]="{ 'is-invalid': submitted && f.group.errors }" />
                                        <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                                                <div *ngIf="f.group.errors.required">Group is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="mdate" class="form-control" style="width: 350px" placeholder="Memeber Date :*" [ngClass]="{ 'is-invalid': submitted && f.mdate.errors }"/>
                                        <div *ngIf="submitted && f.mdate.errors" class="invalid-feedback">
                                                <div *ngIf="f.mdate.errors.required">Mmeber Date is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="aname" class="form-control" style="width: 350px" placeholder="Name (Aadhar Card) :*" [ngClass]="{ 'is-invalid': submitted && f.aname.errors }"/>
                                        <div *ngIf="submitted && f.aname.errors" class="invalid-feedback">
                                                <div *ngIf="f.aname.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> Gender :*  
                                                <input type="radio" formControlName="gender" name="gender" value="male" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                <span style="margin-left:15px"> Male </span>

                                                <input type="radio" formControlName="gender" name="gender" value="female" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                <span style="margin-left:30px">Female </span>  

                                                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                                                </div>                                           
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> Marital Status
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="married" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:15px">Married</span>
                                                
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="unmarried" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:30px">Unmarried</span>
                                                
                                                <input type="radio" formControlName="mstatus" name="mstatus" value="widow" style="margin-left:30px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:45px">Widow</span>

                                                <input type="radio" formControlName="mstatus" name="mstatus" value="divorcee" style="margin-left:45px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                <span style="margin-left:60px">Divorcee</span>
                                                <div *ngIf="submitted && f.mstatus.errors" class="invalid-feedback">
                                                        <div *ngIf="f.mstatus.errors.required">Marital Status is required</div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="alname" class="form-control" style="width: 300px;margin-top:40px" placeholder="Alias Name :*" [ngClass]="{ 'is-invalid': submitted && f.alname.errors }"/>
                                        <div *ngIf="submitted && f.alname.errors" class="invalid-feedback">
                                                <div *ngIf="f.alname.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" formControlName="mnumber" minlength="10" maxlength="10" name="mnumber" class="form-control" style="width: 300px;margin-top:40px" placeholder="Mobile Number :*" [ngClass]="{ 'is-invalid': submitted && f.mnumber.errors }"/>
                                        <div *ngIf="submitted && f.mnumber.errors" class="invalid-feedback">
                                                <div *ngIf="f.mnumber.errors.required">CB Mmeber Name is required</div>
                                        </div>
                                    </div>
                                

                                    <button type="submit" class="btn btn-dark" style="color:white; margin-top: 25px; margin-left: 100px; background-color: black">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
       <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <h4 class="panel-title">
                  Question Three
                </h4></a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt ipsum eget nisl accumsan, eu cursus tellus bibendum. Nam et ipsum scelerisque dolor consequat tempor vel vel tortor.</p>
					<p>Ut finibus facilisis lacus, sit amet porttitor enim mollis sed. Nunc orci magna, iaculis sit amet magna non, tincidunt varius sem.</p>
                </div>
            </div>
        </div> -->

        <div class="panel panel-default" >
                <div class="panel-heading">
                    <button class="btn btn-primary" type="button" #btn (click)="show(3)">
                        Address Details
                    </button>
                </div>
                <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >
                    <div [class.collapse]='flag != 3'>
                        <div class="card card-body">
                            <div class="container register">
                                <div class="row register-form" style="margin-top:0px; margin-left:-20px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" formControlName="cbname" class="form-control" style="width: 350px" id="cbname" placeholder="CB Member Name :*" [ngClass]="{ 'is-invalid': submitted && f.cbname.errors }" />
                                            <div *ngIf="submitted && f.cbname.errors" class="invalid-feedback">
                                                    <div *ngIf="f.cbname.errors.required">CB Mmeber Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="group" class="form-control" style="width: 350px" placeholder="Select Group :*" [ngClass]="{ 'is-invalid': submitted && f.group.errors }" />
                                            <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                                                    <div *ngIf="f.group.errors.required">Group is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="mdate" class="form-control" style="width: 350px" placeholder="Memeber Date :*" [ngClass]="{ 'is-invalid': submitted && f.mdate.errors }"/>
                                            <div *ngIf="submitted && f.mdate.errors" class="invalid-feedback">
                                                    <div *ngIf="f.mdate.errors.required">Mmeber Date is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="aname" class="form-control" style="width: 350px" placeholder="Name (Aadhar Card) :*" [ngClass]="{ 'is-invalid': submitted && f.aname.errors }"/>
                                            <div *ngIf="submitted && f.aname.errors" class="invalid-feedback">
                                                    <div *ngIf="f.aname.errors.required">Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> Gender :*  
                                                    <input type="radio" formControlName="gender" name="gender" value="male" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                    <span style="margin-left:15px"> Male </span>

                                                    <input type="radio" formControlName="gender" name="gender" value="female" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                    <span style="margin-left:30px">Female </span>  

                                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                                                    </div>                                           
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> Marital Status
                                                    <input type="radio" formControlName="mstatus" name="mstatus" value="married" style="margin-left:0px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                    <span style="margin-left:15px">Married</span>
                                                    
                                                    <input type="radio" formControlName="mstatus" name="mstatus" value="unmarried" style="margin-left:15px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                    <span style="margin-left:30px">Unmarried</span>
                                                    
                                                    <input type="radio" formControlName="mstatus" name="mstatus" value="widow" style="margin-left:30px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                    <span style="margin-left:45px">Widow</span>

                                                    <input type="radio" formControlName="mstatus" name="mstatus" value="divorcee" style="margin-left:45px" [ngClass]="{ 'is-invalid': submitted && f.mstatus.errors }">
                                                    <span style="margin-left:60px">Divorcee</span>
                                                    <div *ngIf="submitted && f.mstatus.errors" class="invalid-feedback">
                                                            <div *ngIf="f.mstatus.errors.required">Marital Status is required</div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" formControlName="alname" class="form-control" style="width: 300px;margin-top:40px" placeholder="Alias Name :*" [ngClass]="{ 'is-invalid': submitted && f.alname.errors }"/>
                                            <div *ngIf="submitted && f.alname.errors" class="invalid-feedback">
                                                    <div *ngIf="f.alname.errors.required">CB Mmeber Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" formControlName="mnumber" minlength="10" maxlength="10" name="mnumber" class="form-control" style="width: 300px;margin-top:40px" placeholder="Mobile Number :*" [ngClass]="{ 'is-invalid': submitted && f.mnumber.errors }"/>
                                            <div *ngIf="submitted && f.mnumber.errors" class="invalid-feedback">
                                                    <div *ngIf="f.mnumber.errors.required">CB Mmeber Name is required</div>
                                            </div>
                                        </div>
                                    

                                        <button type="submit" class="btn btn-dark" style="color:white; margin-top: 25px; margin-left: 100px; background-color: black">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
	    </div>
			
      
</div>




<app-footer></app-footer>