<app-header></app-header>

<app-side-nav></app-side-nav>


<div class="bs-example" style="margin-top:10px; margin-left:275px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngFor="let i of [1]">
            <div class="panel-heading">
                <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <h4 class="panel-title"></h4></a> -->
                <button class="btn btn-primary"  type="button" #btn (click)="btn.toggle = !btn.toggle">
                        Add Member
                    </button>                
            </div>

            <!-- <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body"> -->
            <div [ngClass]="{collapse:!btn.toggle}">
                <div class="card card-body">
                    <div class="container register" style="margin-top:10px; margin-left:5px">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">CB Member Name :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Select Group :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Memeber Date :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Name (per Aadhar Card) :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>	
                            <!-- </div> -->
                            <!-- <div class="col-md-6"> -->
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Mobile Number :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Alias Name :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline col-sm-3" style="color:white"> Gender :*  
                                            <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                            <span style="margin-left:20px"> Male </span>
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px">Female </span>                                             
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline col-sm-9" style="color:white"> Martial Status :*  
                                            <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                            <span style="margin-left:20px"> Married </span>
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Unmarried  </span>       
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Widow </span>   

                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Divorcee </span>   
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div style="margin-left:350px">
                                    <button type="button" class="btn" style="color:black;background-color:white">Get Data</button>
                                </div>
                                <!-- <button type="button" class="btn btn-primary">Get Data</button> -->
                                <!-- <input type="submit" class="btnSubmit"  value="Submit"/> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default" *ngFor="let i of [1]">
            <div class="panel-heading">
                <button class="btn btn-primary" type="button" #btn (click)="btn.toggle = !btn.toggle">
                    KYC Details
                </button>
            </div>
            <div [ngClass]="{collapse:!btn.toggle}">
                <div class="card card-body">
                    <div class="container register" style="margin-top:10px; margin-left:5px">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">CB Member Name :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Select Group :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Memeber Date :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Name (per Aadhar Card) :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>	
                            <!-- </div> -->
                            <!-- <div class="col-md-6"> -->
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Mobile Number :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" style="color:white">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Alias Name :*</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                            </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline col-sm-3" style="color:white"> Gender :*  
                                            <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                            <span style="margin-left:20px"> Male </span>
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px">Female </span>                                             
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline col-sm-9" style="color:white"> Martial Status :*  
                                            <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                            <span style="margin-left:20px"> Married </span>
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Unmarried  </span>       
                                            
                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Widow </span>   

                                            <input type="radio" name="gender" value="female" style="margin-left:5px">
                                            <span style="margin-left:20px"> Divorcee </span>   
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div style="margin-left:350px">
                                    <button type="button" class="btn" style="color:black;background-color:white">Get Data</button>
                                </div>
                                <!-- <button type="button" class="btn btn-primary">Get Data</button> -->
                                <!-- <input type="submit" class="btnSubmit"  value="Submit"/> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="panel panel-default" *ngFor="let i of [1]">
                <div class="panel-heading">
                    <button class="btn btn-primary" type="button" #btn (click)="btn.toggle = !btn.toggle">
                        Address Information
                    </button>
                </div>
                <div [ngClass]="{collapse:!btn.toggle}">
                    <div class="card card-body">
                        <div class="container register" style="margin-top:10px; margin-left:5px">
                            <div class="row register-form">
                                <div class="col-md-12">
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">CB Member Name :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">Select Group :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">Memeber Date :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">Name (per Aadhar Card) :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>	
                                <!-- </div> -->
                                <!-- <div class="col-md-6"> -->
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">Mobile Number :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal" style="color:white">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="email">Alias Name :*</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" style="width: 350px" id="email" placeholder="" name="email">
                                                </div>
                                        </div>
                                    </form>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline col-sm-3" style="color:white"> Gender :*  
                                                <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                                <span style="margin-left:20px"> Male </span>
                                                
                                                <input type="radio" name="gender" value="female" style="margin-left:5px">
                                                <span style="margin-left:20px">Female </span>                                             
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline col-sm-9" style="color:white"> Martial Status :*  
                                                <input type="radio" name="gender" value="male" checked style="margin-left:5px">
                                                <span style="margin-left:20px"> Married </span>
                                                
                                                <input type="radio" name="gender" value="female" style="margin-left:5px">
                                                <span style="margin-left:20px"> Unmarried  </span>       
                                                
                                                <input type="radio" name="gender" value="female" style="margin-left:5px">
                                                <span style="margin-left:20px"> Widow </span>   

                                                <input type="radio" name="gender" value="female" style="margin-left:5px">
                                                <span style="margin-left:20px"> Divorcee </span>   
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="margin-left:350px">
                                        <button type="button" class="btn" style="color:black;background-color:white">Get Data</button>
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary">Get Data</button> -->
                                    <!-- <input type="submit" class="btnSubmit"  value="Submit"/> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

	</div>
			
      
</div>




<app-footer></app-footer>